# Ignore the node_modules in the backend
# The passport-openidconnect node module was edited, so this needs to be included now lol. 
# node_modules

#Ignore the node_modules in the front end
public/node_modules

#Ignore the private folder, containing the oauth client secret
private
