<div class="row">
    <div class="col-lg-6">
        Welcome, user
    </div>
    <div class="col-lg-6">
        <div class="row">
                <div class="col-lg-12">
                       Header Section
                </div>
        </div>

        <div class="row">
                <div class="col-lg-6">
                       Left info column<br>
                       <button class="btn btn-primary">Fund Account</button>

                </div>

                <div class="col-lg-6">
                       Right info column<br>
                       <button class="btn btn-primary">Savings Insight</button>

                 </div>
        </div>

        <div class="row">
                <div class="col-lg-12">
                       Footer Section
                </div>
        </div>


    </div>
</div>