<div class="container">
  <h3>Add Savings</h3>
<div class="row">

  <div class="col-lg-5">
      <form class="deposit-form">
          <section class="form-block">
              <div class="form-group">
                  <label>From</label>

                  <div class="select" style="min-width: 6.5rem">
                      <select id="exampleSelect1">
                          <option>MB</option>
                          <option>GB</option>
                          <option>TB</option>
                      </select>
                  </div>
              </div>
          </section>

          <section class="form-block">
              <div class="form-group">
                  <label>To</label>

                  <div class="select" style="min-width: 6.5rem">
                      <select id="exampleSelect1">
                          <option>MB</option>
                          <option>GB</option>
                          <option>TB</option>
                      </select>
                  </div>
              </div>
          </section>

          <section class="form-block">
              <div class="form-group">
                  <label>Amount</label>

                  <div class="select" style="min-width: 6.5rem">
                      <select id="exampleSelect1">
                          <option>MB</option>
                          <option>GB</option>
                          <option>TB</option>
                      </select>
                  </div>
              </div>
          </section>

          <section class="form-block">
              <div class="form-group">
                  <label>Schedule</label>

                  <div class="select" style="min-width: 6.5rem">
                      <select id="exampleSelect1">
                          <option>MB</option>
                          <option>GB</option>
                          <option>TB</option>
                      </select>
                  </div>
              </div>
          </section>

          <section class="form-block">
              <div class="form-group">
                  <label>Deposit Date</label>

                  <div class="select" style="min-width: 6.5rem">
                      <select id="exampleSelect1">
                          <option>MB</option>
                          <option>GB</option>
                          <option>TB</option>
                      </select>
                  </div>
              </div>
          </section>
      

      </form>

      <button class="btn btn-primary">Submit Deposit</button>
  </div>

  <div class="col-lg-7">

 
    
    </div>
</div>
</div>