<clr-main-container>


  <clr-header>
    <div class="branding">
      <a href="/" class="nav-link">
       <!-- <span class="clr-icon clr-clarity-logo"></span> -->
        <span><img style="width: 100%; border-radius: 10%" src="../images/logo.jpg"/></span> 
      </a>
    </div>


      <!-- Authenticated nav bar -->
      <div *ngIf="loggedIn" class="header-nav" [clr-nav-level]="1">

          <!-- Left floating tabs -->
          <a class="nav-link" href="#" [routerLink]="['/home']" routerLinkActive="active" style="margin-left: -70px"><span class="nav-text">Savings</span></a>
          <a class="nav-link" href="#" [routerLink]="['/activity']" routerLinkActive="active" ><span class="nav-text">Activity</span></a>
          <a class="nav-link" href="#" [routerLink]="['/fund']" routerLinkActive="active" ><span class="nav-text">Funding</span></a>
          <a class="nav-link" href="#" [routerLink]="['/learn']" routerLinkActive="active" ><span class="nav-text">Learn</span></a>

          <a class="nav-link" href="#" [routerLink]="['/profile']" routerLinkActive="active" ><span class="nav-text">Profile</span></a>
          <a class="nav-link" href="#" [routerLink]="['/rewards']" routerLinkActive="active"><span class="nav-text">Earn Rewards</span></a>
         <!--  <a class="nav-link" style="margin-left: 1rem" routerLinkActive="active"><clr-icon shape="cog"></clr-icon></a> -->
      
      </div>

      <div *ngIf="!loggedIn" class="header-nav" [clr-nav-level]="1">

          <span class="nav-text" style="margin: 18px 0px 0px -110px; font-size: 30px">Jackpot!</span>

      </div>


  </clr-header>


  <div class="content-container">
    <div class="content-area">

      <!-- If logged in, allow access to the app components -->
      <div *ngIf="loggedIn">
        <router-outlet></router-outlet>
      </div>




      <!-- If not logged in, show unauthorized welcome page -->
      <div *ngIf="!loggedIn">
        <div class="container">
        <div class="row">


          <!-- Default home page options -->
         
            <div class="col-lg-8">  
                <div *ngIf="!signingUp">
              <h2>
                What if you could win a huge jackpot, <br>
                without having to risk losing your money? <br>
                Yes, for real.
              </h2>
              <p style="font-size: 20px">
                Jackpot is a lottery-linked savings account. Our accounts reward YOU for making,
                maintaing, and growing deposits over time with cash and prizes. Play the lottery
                free, and grow your savings while you do it. 
              </p><br>

              <button class="btn btn-outline" (click)="authenticate()" >Login</button>
              <!--
              <div *ngIf="loading" style="margin-left: auto; margin-right: auto">
                  <img style="width: 50px" src="../../images/authing.gif"/>
              </div>
              -->

              <button class="btn btn-primary" (click)="gotoSignup()" >Signup</button>

            </div>
             <!-- Signup options revealed -->
          <div *ngIf="signingUp">
              
              <form style="background-color: #F2F2F2; padding-left: 15px; padding-bottom: 15px; border-radius: 5px">
                  <button class="btn btn-info-outline" (click)="gotoSignup()" style="margin: 0px">Back</button>
                  <section class="form-block" style="margin-top: -12px">
                      <h1 style="margin-bottom: 15px">Signin-up</h1>
                      <div class="form-group">
                          <label for="formFields_9" style="font-size: 20px">First Name</label>
                          <input type="url" [(ngModel)]="firstName" name="q" (keyup)="firstNameCheck()" id="formFields_9"size="35">
                      </div>

                      <div class="form-group">
                          <label for="formFields_10" style="font-size: 20px">Last Name </label>
                          <input type="tel" [(ngModel)]="lastName"  name="qq" (keyup)="lastNameCheck()" id="formFields_10" size="35">
                      </div>

                      <div class="form-group">
                          <label for="formFields_10" style="font-size: 20px">Email address</label>
                          <input type="tel" [(ngModel)]="emailAddress"  name="qqq" (keyup)="emailAddressCheck()" id="formFields_10" size="35">
                      </div>

                      <div class="form-group">
                          <label for="formFields_10" style="font-size: 20px">Phone Number</label>
                          <input type="tel" [(ngModel)]="phoneNumber"  name="qqqq" (keyup)="phoneNumberCheck()" id="formFields_10" size="35">
                      </div>

                      <div class="checkbox" style="margin-top: 20px" (change)="conditionsCheck()">
                          <input type="checkbox" id="checkrads_1">
                          <label for="checkrads_1">Read and Agreed to our Terms and Conditions of Service</label>
                      </div>

                  </section>
              </form>

              <div *ngIf="enableSubmit">
                  <button class="btn btn-primary" style="display:block; margin: 15px auto 0px auto">Submit</button>
              </div>

              <div *ngIf="!enableSubmit">
                  <button class="btn btn-primary" style="display:block; margin: 15px auto 0px auto" disabled>Submit</button>
              </div>
              
          </div>
          </div>

         


          <div class="col-lg-4">
            <img style="width: 100%" src="../../images/yello-logo.png">

          </div>

      </div>    
    </div>

    </div>




  </div>


</div>


</clr-main-container>
