<div class="container">
    <div class="row">
        <div class="col-lg-7">
            <h1>What is <b>Jackpot?</b></h1>
            <p>
                Wealthsimple's Jackpot products are an innovative way to help you save,
                linking the fun and excitement of winning a lottery to savings.
            </p>
            <p>
                It's a win-win for YOU - you set some money aside into our special savings
                account, and earn chances to win prizes. While there are many prize winners, 
                those who don't win a prize are winners too because they walk away with the
                savings they set aside.  
            </p>
            <p>Jackpot is an exciting way to potentially win the lottery, without any risk!</p><br>

            <h1>Who are we?</h1>

            <p>
                Jackpot is backed by a team of world-class financial experts and Silicon Valley's
                best technology talent. We've raised $165 million in capital from the Power Financial 
                Group, a leading financial holding company with $1.4 trillion in assets under administration.
            </p>

            <p>
                Our talented team of software engineers, designers and data scientists have previously worked at such 
                as Amazon, Google and Apple. 
            </p>


        </div>
        <div class="col-lg-5">
           
                <h1 style="font-size:60px; margin-top: 38%; margin-bottom: 35px" align="center" >$2,000,000,000</h1>
                <p style="text-align: center; font-size: 25px; margin-bottom: 15px">
                    currently held with Wealthsimple companies
                </p>
                <div class="row">
                    <div class="col-lg-12>" style="padding-top: 15px">
                        <div align="center">
                          <img style="width: 25%" src="../../../images/Trophy-icon.png">
              

                  
                            <img style="width: 35%" src="../../../images/big-trophy.png">
                

                    
                            <img style="width: 25%" src="../../../images/Trophy-icon.png">
                        </div>
                    </div>
                </div>
       
            
        </div>
    </div>

</div>